@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.btn {
  &:active,
  &:active:focus,
  &:focus {
    outline: 0;
  }
}

body {
  margin     : 0;
  padding    : 0;
  width      : 100%;
  min-width  : 1200px;
  overflow   : hidden;
  overflow-x : scroll;
  font-family: 'Open Sans', sans-serif;
  font-size  : 14px;

  .hljs {
    border-radius: 5px;
  }

  .contain {
    display: flex;
    padding: 10px 0;

    .col40 {
      padding   : 15px;
      flex-basis: 40%;
    }

    .col60 {
      padding    : 15px;
      flex-basis : 60%;
      border-left: 1px solid #ddd;
      height     : 100vh;
      overflow   : auto;
      overflow-x : hidden;

      .filler {
        height: 40px;
      }
    }

    table {
      th {
        padding   : 15px 15px 15px 0;
        text-align: left;

        &:nth-child(2) {
          width: 18%;
        }

        &:nth-child(3) {
          width: 15%;
        }
      }

      td {
        padding   : 15px 15px 15px 0;
        border-top: 1px solid #ddd;
      }

      tr {
        td:first-child {
          font-weight: 600;
        }

        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4),
        td:nth-child(5) {
          font-size: 12px;
        }
      }
    }
  }
}

.masterClass {
  margin-left: 0 !important;
}

.no-pl {
  padding-left: 0;
}
