.toast-alert {
  @import '_alert';
}

.angularjs-toast {
  @extend .toast-alert;
  z-index : 10000;
  position: relative;
  width   : 100%;
  top     : 0;

  ul {
    &.toast-container {
      padding   : 0;
      list-style: none;
      position  : absolute;
      top       : 20px;

      li {
        transition: 1s ease;

        .alert {
          display: inline-block;
        }
        /*
         * animate while element enters or leaves
         */
        &.ng-enter {
          opacity   : 0;
          transition: 1s ease-in;

          &.ng-enter-active {
            opacity: 1;
          }
        }

        &.ng-leave {
          opacity   : 1;
          transition: 0.5s ease-in;

          &.ng-leave-active {
            opacity: 0;
          }
        }
      }

      &.top-right {
        right       : 0;
        margin-right: 20px;

        li {
          text-align: right;
        }
      }

      &.top-center {
        left     : 0;
        left     : 50%;
        transform: translate(-50%, 0);
      }

      &.top-left {
        left       : 0;
        margin-left: 20px;

        li {
          text-align: left;
        }
      }

      &.right {
        right       : 0;
        margin-right: 20px;

        li {
          text-align: right;
        }
      }

      &.center {
        left     : 0;
        left     : 50%;
        transform: translate(-50%, 0);
      }

      &.left {
        left       : 0;
        margin-left: 20px;

        li {
          text-align: left;
        }
      }
    }
  }
}
